<div class="container">
  <div class="reviewing">
    <br>
    <li *ngFor="let review of reviews" class="list-group-item d-flex justify-content-between">
      <div class="col-3">{{review.date}}</div>
      <div class="col-3"><a href=''>{{review.id}}</a></div>
      <div class="col-3 text-left"><a href=''>{{review.salary}}</a></div>
      <div class="col-3">
          <ul class="col-3" *ngFor="let review of reviews">
              <li *ngIf="review.type[0] === 'P'">
          
                  <p>Performance Increase</p>  
          
              </li>
              <!-- <li *ngIf="review.type === 'S'">
          
                <p>Starting Salary</p>
          
              </li> -->
            </ul>
      </div>
    </li>
  </div>
</div>

  <ul class="col-3" *ngFor="let review of reviews">
    <li *ngIf="review.type === 'P'">

        <p>Performance Increase</p>  

    </li>
    <li *ngIf="review.type === 'S'">

      <p>Starting Salary</p>

    </li>
  </ul>
