.navbar {
    background-color: rgb(0, 85, 55);
    position: absolute;
}
.navbar-brand {
    color: #fff;
}
.nav-item > a {
    color: #999;
}
.nav-item:hover > a {
    color: #fff;
}
.navbar-toggler-icon{
    background-color: rgba(13, 129, 98, 0.782);
}
.navbar-toggler{
    background-color: rgb(14, 136, 132);
}
