<!-- TODO: [@routerTranstion] -->
<div class="login-page">
  <div class="row login1 justify-content-md-center">
    <div class="loginBlock col-md-6">
      <img src="../assets/logo.png" width="150px" class="user-avatar" />
      <h1>UniCorn Login</h1>
      <hr><br>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm" name="myForm" novalidate>
        <div class="form-content">
          <div class="form-group">
            <label for="email">Username</label>
            <input type="text" class="form-control input-underline input-lg" #Username="ngModel" [(ngModel)]="user.Username"
              id="username" placeholder="Enter username" name="username" required>
            <!--ngModel directive used to capture values in the controller-->
          </div>
          <br>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control input-underline input-lg" #Password="ngModel" [(ngModel)]="user.Password"
              id="password" placeholder="Enter password" name="password" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" [disabled]="!loginForm.valid" [disabled]="loading" class="btn btn-default rounded-btn">Login</button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </div>

      </form>
      <br>

      <div *ngIf="isLoginError" class="text-danger center error-message">
        <i class="material-icons">ERROR</i> Incorrect Username or Password!!!
      </div>
    </div>
  </div>
</div>