.dashboardPage{
    background-color: rgb(233, 251, 233);
}
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 15px;
  }