<!--Grid row-->
<div class="row wow fadeIn mt-5 container-fluid">
  <!--Card-->
  <div class="col-md-6 mb-4">
    <div class="card">

      <!-- <div class="pieChart d-flex justify-content-center">
        <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div> -->
    </div>
  </div>
  <!--/.Card-->

  <!--Grid column-->
  <div class="col-md-3 mb-4">
    <!--Card-->
    <div class="card mb-4">

      <!--Card content-->
      <div class="card-body">

        <!-- List group links -->
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action waves-effect">Sales
            <span class="badge badge-success badge-pill pull-right">22%
              <i class="fa fa-arrow-up ml-1"></i>
            </span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Traffic
            <span class="badge badge-danger badge-pill pull-right">5%
              <i class="fa fa-arrow-down ml-1"></i>
            </span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Orders
            <span class="badge badge-primary badge-pill pull-right">14</span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Issues
            <span class="badge badge-primary badge-pill pull-right">123</span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Messages
            <span class="badge badge-primary badge-pill pull-right">8</span>
          </a>
        </div>
        <!-- List group links -->

      </div>

    </div>
    <!--/.Card-->


  </div>
  <!--Grid column-->

</div>
<div class="col col-md-9">
    <div class="row">
      <div class="col col-md-5">
        <h4>Today Stats:</h4>
            Visits<span class="pull-right strong">- 15%</span>
             <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15"aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
            </div>
          
            20 New Users<span class="pull-right strong">+ 30%</span>
             <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
            </div>
          
            359 Downloads<span class="pull-right strong">+ 8%</span>
             <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8"aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
            </div>
      </div>
      <div class="col col-md-5">
        <h4>This Month Stats:</h4>
            Visits<span class="pull-right strong">+ 45%</span>
             <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
            </div>
          
            395 New Users<span class="pull-right strong">+ 57%</span>
             <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57"aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
            </div>
          
            12.593 Downloads<span class="pull-right strong">+ 25%</span>
             <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25"aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
            </div>
      </div>
    </div>
  </div>
