<!-- start of Statistics data-->
<div class="dashboardPage">
  <div class="container-fluid mt-5">
    <div _ngcontent-c3="" class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <div _ngcontent-c3="" class="card-body d-sm-flex justify-content-between">
        <h4 _ngcontent-c3="" class="mb-sm-0 pt-3"><a _ngcontent-c3="" href="dashboard" target="_blank">Dashboard</a><span
            _ngcontent-c3=""></span><span _ngcontent-c3="">
            <h6>Statistic Overview</h6>
          </span></h4>
          <div class="logoLmost" [ngStyle]="{'background-image': getUrl(), 'height' : '80px', 'width': '650px', 'background-size': 'c' }">
              <div class="col-4 justify-content-end">
                </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div _ngcontent-c3="" class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div  class="row">
      <div  class="col-xl-3 col-md-6 mb-r">
        <div  class="card card-cascade cascading-admin-card">
          <div  class="admin-up"><i  class="fa fa-calculator primary-color"></i>
            <div  class="data">
              <p >Total Number of Employees</p>
              <h4 ><strong >
                  {{employees?.length}}
                </strong></h4>
            </div>
          </div>
          <div  class="card-body">
            <div  class="progress">
              <div  aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success"
                role="progressbar" style="width: 25%"></div>
            </div>
          </div>
        </div>
      </div>
      <div  class="col-xl-6 col-md-6 mb-r">
        <div  class="card card-cascade cascading-admin-card">
          <div  class="admin-up"><i  class="fa fa-line-chart warning-color"></i>
            <div  class="data">
              <p >Position Data</p>
              <h4 ><strong >5</strong></h4>
            </div>
          </div>
          <div  class="card-body">
            <div  class="progress">
              <div  aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar grey darken-2"
                role="progressbar" style="width: 75%"></div>
            </div>
          </div>
        </div>
      </div>

      <div  class="col-xl-3 col-md-6 mb-r">
        <div  class="card card-cascade cascading-admin-card">
          <div  class="admin-up"><i  class="fa fa-pie-chart light-blue lighten-1"></i>
            <div  class="data">
              <p >Birthdays this Month</p>
              <h5><strong>
                  <div class="empNo" *ngIf="employees.birth_date | slice:-5:-3 == [viewDate | date:'MM']; else elseBlock">
                    {{employees.birth_date}}
                  </div>
                  <ng-template #elseBlock>
                    <p>No {{viewDate | date:'MMMM'}} BABIES!!</p>
                  </ng-template>
                </strong></h5>
            </div>
          </div>
          <div  class="card-body">
            <div  class="progress">
              <div  aria-valuemax="100" aria-valuemin="0" aria-valuenow="9.09" class="progress-bar bg grey darken-2"
                role="progressbar" style="width: 9.09%"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End of Statistic data-->

  <!--Grid row-->
  <div class="row wow fadeIn mt-5 container-fluid d-flex justify-content-center">
    <!--Card-->
    <div class="col-md-6 mb-4">
      <div class="card">

        <div class="pieChart d-flex justify-content-center">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <!--/.Card-->

    <!--Grid column-->
    <div class="col-md-3 mb-4">
      <!--Card-->
      <div class="card mb-4">

        <!--Card content-->
        <div class="card-body">

          <!-- List group links -->
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action waves-effect">Number of employees
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action waves-effect">Seniority Number
              <span class="badge badge-danger badge-pill pull-right">5%
                <i class="fa fa-arrow-down ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action waves-effect">Orders
              <span class="badge badge-primary badge-pill pull-right">14</span>
            </a>
            <a class="list-group-item list-group-item-action waves-effect">Issues
              <span class="badge badge-primary badge-pill pull-right">123</span>
            </a>
            <a class="list-group-item list-group-item-action waves-effect">Messages
              <span class="badge badge-primary badge-pill pull-right">8</span>
            </a>
          </div>
          <!-- List group links -->

        </div>

      </div>
      <!--/.Card-->



    </div>
    <!--Grid column-->

  </div>

  <div class="col col-md-9">
    <div class="row">
      <div class="col col-md-5">
        <h4>Today Stats:</h4>
        Visits<span class="pull-right strong">- 15%</span>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0"
            aria-valuemax="100" style="width:15%">15%</div>
        </div>

        20 New Users<span class="pull-right strong">+ 30%</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0"
            aria-valuemax="100" style="width:30%">30%</div>
        </div>

        359 Downloads<span class="pull-right strong">+ 8%</span>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8" aria-valuemin="0"
            aria-valuemax="100" style="width:8%">8%</div>
        </div>
      </div>
      <div class="col col-md-5">
        <h4>This Month Stats:</h4>
        Visits<span class="pull-right strong">+ 45%</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0"
            aria-valuemax="100" style="width:45%">45%</div>
        </div>

        395 New Users<span class="pull-right strong">+ 57%</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57" aria-valuemin="0"
            aria-valuemax="100" style="width:57%">57%</div>
        </div>

        12.593 Downloads<span class="pull-right strong">+ 25%</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100" style="width:25%">25%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row wow fadeIn mt-5 container-fluid d-flex justify-content-center">
  <div class="col-md-6 mb-4">
    <div class="card">

      <div class="pieChart d-flex justify-content-center">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-month-view> -->
