<div _ngcontent-c1="" class="sidebar-fixed position-fixed"><a _ngcontent-c1="" class="logo-wrapper waves-effect"><img
      _ngcontent-c1="" alt="" class="img-fluid" src="../../../../assets/img/angular-mdb.png"></a>
  <div _ngcontent-c1="" class="list-group list-group-flush"><a _ngcontent-c1="" class="list-group-item list-group-item-action waves-effect active"
      routerlink="dashboards/v1" routerlinkactive="active" href="/dashboards/v1"><i _ngcontent-c1="" class="fa fa-pie-chart mr-3"></i>Dashboard
    </a><a _ngcontent-c1="" class="list-group-item list-group-item-action waves-effect" routerlink="profiles/profile1"
      routerlinkactive="active" href="/profiles/profile1"><i _ngcontent-c1="" class="fa fa-user mr-3"></i>Profile</a><a
      _ngcontent-c1="" class="list-group-item list-group-item-action waves-effect" routerlink="tables/table1"
      routerlinkactive="active" href="/tables/table1"><i _ngcontent-c1="" class="fa fa-table mr-3"></i>Tables</a><a
      _ngcontent-c1="" class="list-group-item list-group-item-action waves-effect" routerlink="maps/map1"
      routerlinkactive="active" href="/maps/map1"><i _ngcontent-c1="" class="fa fa-map mr-3"></i>Maps</a><a
      _ngcontent-c1="" class="list-group-item list-group-item-action waves-effect" routerlink="nonExistingPath"
      routerlinkactive="active" href="/nonExistingPath"><i _ngcontent-c1="" class="fa fa-exclamation mr-3"></i>404</a></div>
</div>